<section class="max-w-96 max-h-48 border-slate-400 bg-slate-400/20 border p-4 py-4 rounded-lg flex flex-col gap-4">
	@if (sender()) {
		<div class="font-black inline-flex items-center h-full gap-2">
			<img [src]="sender()!.brand.logo" alt="AI logo" class="bg-white border-1 border-slate-400 size-8 p-1 rounded-xl">

			<div>
				<div class="text-xs">{{ sender()!.name | nameCase }}</div>
				<div class="text-xs font-light text-text/50">
					{{ sender()!.model | lowercase }}
				</div>
			</div>
		</div>
	} @else {
		<div class="font-black inline-flex items-center h-full gap-2">
			<img src="" alt="Unknown sender" class="bg-white border-1 border-slate-400 size-8 p-1 rounded-xl">

			<div>
				<div class="text-xs">Unknown Sender</div>
				<div class="text-xs font-light text-text/50">
					—
				</div>
			</div>
		</div>
	}

	<text-container class="text-xs font-light p-4 rounded-lg bg-slate-400/20" [text]="content()" />

	@if (receiver()) {
		<div class="font-black inline-flex items-center text-right justify-end h-full gap-2">
			<div>
				<div class="text-xs">{{ receiver()!.name | nameCase }}</div>
				<div class="text-xs font-light text-text/50">
					{{ receiver()!.model | lowercase }}
				</div>
			</div>
			<img [src]="receiver()!.brand.logo" alt="AI logo" class="bg-white border-1 border-slate-400 size-8 p-1 rounded-xl">
		</div>
	} @else {
		<div class="font-black inline-flex items-center text-right justify-end h-full gap-2">
			<div>
				<div class="text-xs">Unknown Receiver</div>
				<div class="text-xs font-light text-text/50">
					—
				</div>
			</div>
			<img src="" alt="Unknown receiver" class="bg-white border-1 border-slate-400 size-8 p-1 rounded-xl">
		</div>
	}
</section>

<handle type="source" position="left" />
<handle type="target" position="left" />
