<section class="z-10 w-96 border-zinc-500 border bg-zinc-500/10 p-4 py-4 rounded-lg flex flex-col gap-2">
	<div class="font-black inline-flex items-center h-full gap-2">
		@if (mcp()) {
			<img [src]="mcp()!.brand.logo" alt="AI logo" class="bg-white border-1 border-accent size-8 p-1 rounded-xl">

			<div>{{ mcp()!.brand.name | nameCase }}</div>
		} @else {
			<img src="assets/not_found.svg" alt="Unknown MCP" class="bg-white border-1 border-accent size-8 p-1 rounded-xl">

			<div>Loading...</div>
		}
	</div>

	@for (tool of mcp()?.tools ?? []; track tool.name) {
		<text-container class="text-xs font-light p-4 rounded-lg bg-zinc-500/10" [text]="generateToolMessage(tool)" />
	}
</section>

<handle type="source" position="right" id="s-right" />
@if (inModal()) {
	<handle type="target" position="top" id="t-top" />
} @else if (mcpSide() === 'left') {
	<handle type="target" position="right" id="t-right" />
} @else {
	<handle type="target" position="left" id="t-left" />
}
