<section class="max-w-96 border-accent border bg-accent/20 p-4 py-4 rounded-lg flex flex-col gap-4"
         [class.border-secondary]="agent()?.role === 'subagent'"
         [class.bg-secondary/20]="agent()?.role === 'subagent'">
	@if (agent()) {
		<div class="font-black inline-flex items-center h-full gap-2">
			<img [src]="agent()!.brand.logo" alt="AI logo" class="bg-white border-2 border-accent size-8 p-1 rounded-full">

			<div>
				<div>{{ agent()!.name | nameCase }}</div>
				<div class="text-xs font-light text-text/50">
					{{ agent()!.model | lowercase }}
				</div>
			</div>
		</div>

		@if (agent()?.prompt) {
			<text-container class="text-xs font-light p-4 rounded-lg bg-accent/20" [text]="agent()!.prompt" />
		}
	} @else {
		<div class="font-black inline-flex items-center h-full gap-2">
			<img src="" alt="Unknown agent" class="bg-white border-2 border-accent size-8 p-1 rounded-full">

			<div>
				<div>Loading...</div>
				<div class="text-xs font-light text-text/50">
					—
				</div>
			</div>
		</div>
	}
</section>

<handle type="source" position="left" />
<handle type="target" position="right" />
