<aside class="bg-bg fixed z-10 right-0.5 h-full w-12 border-l-1 border-tertiary transition-all flex flex-col justify-between gap-4"
       [class.w-80]="open()">
	<section>
		<div class="px-2 border-b-1 w-full h-12 border-tertiary transition inline-flex items-center {{ open()? 'justify-between' : 'justify-center' }}"
		     [class.cursor-pointer]="!open()"
		     [class.hover:text-text]="!open()"
		     [class.hover:bg-accent/30]="!open()"
		(click)="toggle()">
		<section class="inline-flex items-center gap-2">
			<hugeicons-icon
					[icon]="Menu01Icon"
					[size]="24"
					color="currentColor"
					[strokeWidth]="2"
			/>

			@if (open()) {
				<p class="font-black uppercase select-none">Info</p>
			}
		</section>

		@if (open()) {
			<button class="flex items-center justify-center w-8 h-8 rounded-lg border-1 border-tertiary cursor-pointer hover:bg-accent/30 hover:text-text">
				<hugeicons-icon
						[icon]="ArrowRight01Icon"
						[size]="24"
						color="currentColor"
						[strokeWidth]="2"
				/>
			</button>
		}
		</div>

		@if (open()) {
			<div class="p-4 py-3">
				<div class="flex items-center justify-between text-sm">
					<span class="inline-flex items-center gap-2 text-text/40">
						<hugeicons-icon
								[icon]="DollarCircleIcon"
								[size]="18"
								color="currentColor"
								[strokeWidth]="1.5"
						/>
						Cost
					</span>

					<span class="font-mono font-bold">
						{{ usage().cost | currency: 'USD' : 'symbol' : '1.4-4' }}
					</span>
				</div>

				<button
						class="mt-2 w-full flex items-center justify-between text-sm cursor-pointer group"
						(click)="toggleTokens()">
					<span class="inline-flex items-center gap-2 text-text/40 transition group-hover:text-text">
						<hugeicons-icon
								[icon]="AiContentGenerator02Icon"
								[size]="18"
								color="currentColor"
								[strokeWidth]="1.5"
						/>
						Tokens
					</span>

					<span class="inline-flex items-center gap-1">
						<span class="font-mono font-bold">
							{{ usage().tokenBreakdown?.total | compactNumber }}
						</span>

						<hugeicons-icon
								class="text-text/70"
								[icon]="ArrowDown01Icon"
								[altIcon]="ArrowUp01Icon"
								[showAlt]="showTokens()"
								[size]="18"
								color="currentColor"
								[strokeWidth]="1.5"
						/>
					</span>
				</button>

				<div
						class="mb-2 pl-1.5 transition-all h-0 border-tertiary font-mono text-xs text-text/40 overflow-hidden"
						[class.h-16]="showTokens()">

					<div class="flex justify-between">
						<span>├─ Input</span>
						<span>{{ tokenBreakdown()?.input | compactNumber }}</span>
					</div>

					<div class="flex justify-between">
						<span>├─ Output</span>
						<span>{{ tokenBreakdown()?.output | compactNumber }}</span>
					</div>

					<div class="flex justify-between">
						<span>├─ Cache</span>
						<span>
							{{ tokenBreakdown()?.cache?.read | compactNumber }}
							r /
							{{ tokenBreakdown()?.cache?.write | compactNumber }}
							w
						</span>
					</div>

					<div class="flex justify-between">
						<span>└─ Reasoning</span>
						<span>{{ tokenBreakdown()?.reasoning | compactNumber }}</span>
					</div>
				</div>

				<div class="flex items-center justify-between mb-2 text-sm">
					<span class="inline-flex items-center gap-2 text-text/40">
						<hugeicons-icon
								[icon]="Books02Icon"
								[size]="18"
								color="currentColor"
								[strokeWidth]="1.5"
						/>
						Context
					</span>

					<span class="font-mono font-bold">
						{{ usage().contextUsed.toFixed(0) }}%
					</span>
				</div>

				<div class="w-full h-1.5 bg-accent/10 rounded-full overflow-hidden">
					<div
							class="h-full rounded-full transition-all duration-500"
							[style.width.%]="usage().contextUsed"
							[class]="usage().contextUsed > 80
								? 'bg-red-500'
								: usage().contextUsed > 50
									? 'bg-yellow-500'
									: 'bg-green-500'">
					</div>
				</div>
			</div>
		}

		@if (list() && list().length > 0) {
			<div class="border-t border-tertiary p-4 py-3 overflow-y-scroll overflow-x-hidden">
				<p class="text-text/40 font-bold font-mono text-sm">TODO</p>
				@for (todo of list(); track todo.content) {
					<div class="inline-flex items-center gap-1 text-xs font-light py-1">
						@switch (todo.status) {
							@case ('pending') {
								<hugeicons-icon
										class="text-accent/60"
										[icon]="SquareIcon"
										[size]="18"
										color="currentColor"
										[strokeWidth]="1.5"
								/>
							}
							@case ('in_progress') {
								<hugeicons-icon
										class="text-accent/60 animate-[spin_4s_ease-in-out_infinite]"
										[icon]="Loading03Icon"
										[size]="18"
										color="currentColor"
										[strokeWidth]="1.5"
								/>
							}
							@case ('completed') {
								<hugeicons-icon
										class="text-accent/60"
										[icon]="CheckmarkSquare01Icon"
										[size]="18"
										color="currentColor"
										[strokeWidth]="1.5"
								/>
							}
							@case ('cancelled') {
								<hugeicons-icon
										class="text-accent/60 opacity-70"
										[icon]="RemoveSquareIcon"
										[size]="18"
										color="currentColor"
										[strokeWidth]="1.5"
								/>
							}
						}

						<p class="text-text/40 w-64 h-4 whitespace-pre-wrap break-words line-clamp-1"
						   [class.font-bold]="todo.status === 'in_progress'"
						   [class.text-text/60]="todo.status === 'in_progress'"
						   [class.opacity-70]="todo.status === 'cancelled'">
							{{ todo.content }}
						</p>
					</div>
				}
			</div>
		}
	</section>

	<section>
		@for (control of controls; track control.label) {
			<button class="px-2 border-t-1 w-full h-12 border-tertiary transition inline-flex items-center gap-2 {{ open()? 'justify-start' : 'justify-center' }} cursor-pointer hover:bg-accent/30 hover:text-text"
			     (click)="control.action()"
				[disabled]="control.disabled()">
				<hugeicons-icon
						[icon]="control.icon"
						[size]="24"
						color="currentColor"
						[strokeWidth]="2"
				/>

				@if (open()) {
					<p class="font-black uppercase select-none">{{ control.label }}</p>
				}
			</button>
		}
	</section>
</aside>

<settings
		[open]="settingsOpen()"
		(closed)="settingsOpen.set(false)">
</settings>
