@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&family=Geist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
    --bg: #040604;
    --text: #E7EBE5;
}

@theme {
    --color-bg: var(--bg);
    --color-accent: #9fe28f;
    --color-secondary: #2e4928;
    --color-text: var(--text);

    --font-mono: "Geist Mono", monospace;
}

html,
body {
    height: 100%;
}

a {
    @apply text-inherit no-underline;
}

body, app-root {
    margin: 0;
    color: var(--text);
    font-family: "Geist", sans-serif;
    -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar{
    width: 2px;
}

::-webkit-scrollbar-track-piece{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: #CBCBCB;
    border: .1px solid #B7B7B7;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #909090;
}